/*Body and Header Styles*/

body {
	max-width: 16000px;
	margin: auto;
	background: url("images/background_light.png");
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	color: rgb(240, 240, 240);
}

.largerCoverPhoto {
	height: 25vw;
	width: 100%;
	display: block;
	margin-left: auto;
	border-bottom: 3px solid #b999c8;
}

.coverPhotoContainer {
	position: relative;
	text-align: center;
	color: white;
}

.madWallaceText{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Open Sans', sans-serif;
	width: 80%;
	font-size:calc(6px + 4.7vw);
	letter-spacing: 3vw;
	padding: 1px;
}


/*------------------*/




.container {
	margin: 10px 20px;
	display: grid;
  	grid-template-columns: 40% 55%;
  	grid-gap: 10px;
  	grid-auto-rows: minmax(100px, auto);
}

h3	{
	color: rgb(240, 240, 240);
	font-size: 30px;
	letter-spacing: 3px;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0;
	width: 190px;
}

.bios p {
	color: rgb(240, 240, 240);
	font-size: 15px;
	background: rgba(174, 163, 185, 0.5);
	padding: 10px;
	border-radius: 8px;
}

.bios {
	grid-column: 1;
	grid-row: 1/3;
	width: 95%;
	display: block;
	margin: 15px auto;
	text-align: justify;
	max-width: 380px;
	max-height: 900px;
}

hr {
	border: 2px solid rgb(240, 240, 240);
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#hookline {
	width: 90%;
	height: auto;
}

.music {
	grid-column: 1;
	grid-row: 3 / 4;
	display: block;
	margin-left: 20px;
	transform: translateY(-90px);
}

.music p {
	text-align: center;
}

.music h1 {
	margin-left: 24px;
	margin-top: 0;
}

#hooklinelink {
	text-decoration: underline;
}


.images {
	max-width: 700px;
	width: 100%;
	height: auto;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr, 1fr;
	grid-gap: 10px;
	grid-auto-rows: minmax(170px, auto);
}

#download {
	grid-column: 1/ 3;
	display: block;
	width: 200px;
	height: 50px;
	margin: 5px auto;
	border-radius: 44px;
	background: linear-gradient(to right, rgba(47,47,47,.1) , rgba(47,47,47,.8), rgba(47,47,47,.9), #3f3f3f, rgba(47,47,47,.9), rgba(47,47,47,.8), rgba(47,47,47,.1));
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 1.8px;
    color: white;
}

#photolink {
	grid-column: 1/ 3;
	display: block;
	text-decoration: none;
	outline: none;
	height: 100px;
}

#download:hover {
	cursor: pointer;
}

#city {
	height: 100%;
  	background-size: cover;
  	background-position: center;
	grid-column: 1 / 3;
	grid-row: 1;
}

#garage {
	height: 100%;
  	background-size: cover;
  	background-position: center;
	grid-column: 1;
	grid-row: 2 / 4;
}

#singing {
	height: 100%;
  	background-size: cover;
  	background-position: center;
	grid-column: 2;
	grid-row: 2 / 3;
}

#outside {
	height: 100%;
  	background-size: cover;
  	background-position: center;
	grid-column: 2;
	grid-row: 3 / 4;
}

.video {
	display: block;
	grid-column: 2 / 3;
	grid-row: 3;
}

#video p {
	margin-left: 18px;
}

#video h1 {
	position: absolute;
	margin-bottom: 20px;
}

#vidlink {
	text-decoration: underline;
}

.press {
	grid-column: 2 / 3;
  	grid-row: 2 / 3;
  	display: block;
    background: rgba(174, 163, 185, 0.5);
	padding: 3px 15px 0 15px;
	border-radius: 8px;
	transform: translateY(-60px);
}

#author {
	margin-left: 50px;
	margin-top: 0;
}

strong {
	text-decoration: underline;
}

#best {
	margin-top: 20px;
}




/*footer styles*/

footer {
	margin-top: 80px;
	margin-bottom: 40px;
}

div>h3 {
	text-align: center;
	padding-right: none;
}

div>input {
	display: block;
	margin: 15px auto;
}

.lowerToolbar{
	background-image: url("images/lowercover.jpg");
	background-position: center;
	width: 100%;
	margin: auto;
	padding: 0;
	text-align: center;
	border-top: 3px solid #b999c8;
	border-bottom: 3px solid #b999c8;
}

h5 {
	color: #f5cc8f;
	letter-spacing: 1.5px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 {
	color: #f5cc8f;
	letter-spacing: 1px;
	font-size: 18px;
}


.email-button {
	height: 35px;
	width: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 8px;
  	background: linear-gradient(to right, rgba(47,47,47,.1) , rgba(47,47,47,.8), rgba(47,47,47,.9), #3f3f3f, rgba(47,47,47,.9), rgba(47,47,47,.8), rgba(47,47,47,.1));
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 1.8px;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-radius: 45px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4),
				 0px 4px 4px rgba(0,0,0,0.1),
				 0px 5px 5px rgba(0,0,0,0.1);
}

.email-button:hover{
	cursor: pointer;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

#copyright {
	text-align: center;
	font-size: 12px;
	padding-right: 0px;
	padding-left: 8px;
}

h2 {
	color: #f5cc8f;
	letter-spacing: 1.5px;
	font-size: 20px;
}

.mediahr {
	border: 1px solid #f5cc8f;
	width: 100px;
	margin: 0 auto;
	padding: 0;
}

i {
	margin: 0 10px;
	font-size: 25px;
}

p>a:link, p>a:visited {
	text-decoration: none;
	color: #f5cc8f;
}

p>a:hover {
	text-decoration: underline;
}

.fab, .fas {
	border: .5px solid #f5cc8f;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4),
				 0px 4px 4px rgba(0,0,0,0.1),
				 0px 5px 5px rgba(0,0,0,0.1);
}


