#coverPhoto {
	height: 400px;
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#aboutHead {
	width:100%;
	height: auto;
	position: relative;
	display: inherit;
}

#alt {
	width:100%;
	height: auto;
	
}

#goggles {
	width: 4%;
	height: auto;
	position: absolute;
	transform: translateY(-120%);
}




.aboutband {
	color: #ccced1;
	background: #b999c8;
	background: linear-gradient(to left, rgba(185,153,200,0), rgba(185,153,200,1)); 
	font-family: 'Open Sans', sans-serif;
	margin-top: 0px;
	padding-left: 10px;
	height: 70px;
	text-shadow: 0px 3px 2px rgba(0,0,0,0.1),
				
				 0px 5px 5px rgba(0,0,0,0.1);
}



.bio>p {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 30px;
	margin-bottom: 80px;
	font-size: .95em;
	text-indent: 10px;
	color: #cecece;
	letter-spacing: .5px;
	line-height: 20px;
	background: rgba(25,7,40,.6);
	padding: 10px;
	border-radius: 20px;
}






.picgrid>h3 {
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 40px;
	font-weight: bold;
}

h3>span {
	font-size: .7em;
	line-height: 25px;
	letter-spacing: 3px;
}

.biopic {
	width: 400px;
	height: auto;
}

.picgrid {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: 50% 50%;
	grid-template-rows: 585px 110px 585px 110px;
	justify-items: center;
	max-width: 900px;
}

.bio-container {
	position: relative;
	display: inherit;
}


.hvrbox-text {
	opacity: 0;
	transform: translateY(30px);
	position: absolute;
	margin-left: 5.5%;
	margin-top: 45%;
	width: 315px;
	background-color: rgba(30,30,30,.85);
    border-radius: 25px;
    color: #cecece;
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    line-height: 25px;
    letter-spacing: 1.5px;
    transition: 1s;
}

.bio-container:hover .hvrbox-text {
	transform: translateY(0px);
	opacity: 1;
}

.bio-container:hover .carrot {
	opacity: 0;
}

.carrot {
	transform: translateY(-65px);
	width: 56px;
	height: 56px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 4em;
	background-color: rgba(150,150,150,.85);
    border-radius: 50%;
	color: #cecece;
	font-family: 'PT Sans', sans-serif;
	opacity: 1;
	transition: 1s;
}




i {
	padding:1px;
}