body {
	max-width: 16000px;
	margin: auto;
	background: url("../background.png");
	background-attachment: fixed;
	background-size: cover;
}



/*HEADER STYLING*/


.toolbar {

	margin: 0px;
	display: flex;
	align-items: stretch;
	justify-content: center;
	background: linear-gradient(to right, rgba(47,47,47,.8) , rgba(47,47,47,.9), rgba(47,47,47,1), #3f3f3f, rgba(47,47,47,1), rgba(47,47,47,.9), rgba(47,47,47,.8));
	border-bottom: 3px solid #b999c8;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;

}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: grey;
	overflow: hidden;
	width: inherit;
	z-index: 1;
	border-bottom: 3px solid #b999c8;
	border-right: 3px solid #b999c8;
	border-left: 3px solid #b999c8;
	border-top:3px solid #b999c8;
	margin-top: 10px;
}

.dropdown-content a{
	float: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;

}

.dropdown-content a:hover{
	background: linear-gradient(to right, rgba(47,47,47,1) , rgba(47,47,47,1), rgba(47,47,47,1), #3f3f3f, rgba(47,47,47,1), rgba(47,47,47,1), rgba(47,47,47,1));
}

#dropdown:hover .dropdown-content {
	display: flex;
}

.dropdown-content a{
	flex:;
}

.head {
	font-size: 30px;
	margin: 10px 0px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	flex-grow: 1;
	flex-basis: 0;
}

#coverPhoto {
	height: 400px;
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}




/*TEXT STYLING*/



h2 {
	font-size: 32px;
}

h3 {
	text-shadow: 0px 3px 4px rgba(0,0,0,0.4),
				 0px 8px 18px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h2, h3, #copyright {
	font-family: 'Open Sans', sans-serif;
	padding: 10px 10px 10px 0px;
	margin: 10px 0px;
	color: white;
}

.listen_title, .watch_title {
	margin-bottom: 18px;
}

p, li, th, td {
	font-family: 'PT Sans', sans-serif;
	padding: 0px;
	margin-bottom: 5px;
	color: white;
}

th {
	font-size: 20px;
	padding: 5px;
}

td {
	border-top: 1px solid rgba(255,255,255,.3);
}

.date {
	font-size: 30px;
	padding: 5px;
	color: lightgrey;
}

.venue {
	font-size: 20px;
	padding: 5px;
	padding-left: 15px;
}

p>a:link, p>a:visited {
	text-decoration: none;
	color: #f5cc8f;
}

p>a:hover {
	text-decoration: underline;
}

span>a:link, span>a:visited {
	text-decoration: none;
	color: white;
}






/*ELEMENT SPACING AND MISC*/


.news_hookline {
	padding: 0px;
	margin: 0px;
}

#hookline {
	height: 315px;
	width: 315px;
	display: block;
	margin-left: 0px;
	margin-right: 20px;
}

.tour {
	width: 350px;
}

a {
	padding: 10px;
}

.head:hover {
	background-color: grey;
}

@media screen and (min-width: 1000px){
	.grid {
		max-width: 1000px;
		display: grid;
		margin: auto;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"news listen"
			"tour watch";
	}


	#youtube {
		width: 600px;
		height: 400px;
	}
}






/*FOOTER STYLING*/


footer {
	margin-top: 80px;
	margin-bottom: 40px;
}

div>h3 {
	text-align: center;
	padding-right: none;
}

div>input {
	display: block;
	margin: 15px auto;
}

.lowerToolbar{
	background-image: url(../lowercover.jpg);
	background-position: center;
	width: 100%;
	margin: auto;
	padding: 0;
	text-align: center;
	border-top: 3px solid #b999c8;
	border-bottom: 3px solid #b999c8;


}

#mwClick {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	margin-top: 15px;
	opacity: .8;
}

#mwClick:hover{
	opacity: 1;
	cursor: pointer;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

#copyright {
	text-align: center;
	font-size: 12px;
	padding-right: 0px;
	padding-left: 8px;
}

i {
	font-size: 25px;
}

input[type=email] {
	height: 40px;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
    /*border: 3px solid #4e285a;*/
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

input[type=submit] {
	height: 30px;
	width: 100px;
	margin-top: 20px;
    border-radius: 4px;
  	background: linear-gradient(to right, rgba(47,47,47,.1) , rgba(47,47,47,.8), rgba(47,47,47,.9), #3f3f3f, rgba(47,47,47,.9), rgba(47,47,47,.8), rgba(47,47,47,.1));
/*	border: 3px solid #4e285a;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    border-radius: 45px;
}

input[type=submit]:hover{
	cursor: pointer;
	background-color: grey;
	transform: translateY(-3px);
}



