/*FOR HEADING/BODY/FOOTING/TEXT sTYLES see the global-styles.css sheet*/
.largerCoverPhoto {
	height: 25vw;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 46px;
	border-bottom: 3px solid #b999c8;
}

/*ELEMENT SPACING AND MISC*/


.news_hookline {
	padding: 0px;
	margin: 0px;
}

#hookline {
	height: 350px;
	width: 350px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	
}

.grid {
	max-width: 100%;
	display: grid;
	column-gap: 2em;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

.tour {
	width: 350px;
	display: block;
}

.news {
	display: block;
	grid-row:1/2;
	grid-column:1/2; 
}


.listen {
	display: block;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	grid-row:1/2;
	grid-column:2/3; 
}


.watch {
	display:block;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	grid-row:2/3;
	grid-column:2/3; 
}


.tour {
	grid-row:2/3;
	grid-column:1/2; 
}

.venue {
	text-align: center;
}

#spotifyPlayer{
	height: 392px;
	width: 350px;
}

#youtube{
	height: 315px; 
	width: 350px;
}


@media screen and (max-width: 800px){


	.grid {
	display: grid;
	grid-template-columns: 400px;
	grid-template-rows: 470px 1fr 1fr 1fr;
	}

	.news {
		grid-row:1/4;
		grid-column: 1/1;
		display: block;
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}


	.listen {
		grid-row:3/4;
		grid-column: 1/1; 
		display: block;
		width: 85%;
		margin-right: auto;
		margin-left: auto;
		
	}

	iframe {
		width: 350px;
		height: 200px;
	}

	.watch {
		grid-row:4/4;
		grid-column: 1/1;
		display:block;
		width:85%;
		margin-right: auto;
		margin-left: auto;
	}


	.tour {
		grid-row:2/4;
		grid-column: 1/1;
		display: block;
		width: 85%;
		margin-right: auto;
		margin-left: auto;	
	}

	#spotifyPlayer{
	height: 357px;
	width:20em;
	}

	@media screen and (max-width: 350px){

		.grid {
	display: grid;
	grid-template-columns: 320px;
	grid-template-rows: 470px 1fr 1fr 1fr;
	}

	#spotifyPlayer{
		width: 270px;
	}

	#youtube {
		width: 270px;
	}

	#hookline{
		width: 270px;
		height: 270px;
	}

	}


}


