.snapwidget-widget{
	border:none; 
	overflow:hidden; 
	width:90%; 
	height:60vw;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 5%;
}
.media{
	padding-top: 50px;
}

#media{
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: %100;
}

.media h1{
	color: white;
	background: #b999c8;
	background: linear-gradient(to left, rgba(185,153,200,0), rgba(185,153,200,1)); 
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
	padding-left: 10px;
	height: 50px;
	text-shadow: 0px 3px 2px rgba(0,0,0,0.1),
				
				 0px 5px 5px rgba(0,0,0,0.1);
}


#spotifyPlayer{
	width: 90%; 
	height:333px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;

}

#hookline{
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	opacity: 1;
	margin-top: 30px;
}

#twenty804 {
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	opacity: 1;
	margin-top: 30px;
}

#hookline:hover, #twenty804:hover {
	opacity: .7;
	transform: translateY(-2px);
	
} 

.insta, .follow-youtube, .follow-spotify{
	text-align: center;
}

#instaLink, #youLink, #spotLink {
	display: inline-block;
	background: linear-gradient(to right, rgba(47,47,47,.1) , rgba(47,47,47,.8), rgba(47,47,47,.9), #3f3f3f, rgba(47,47,47,.9), rgba(47,47,47,.8), rgba(47,47,47,.1));
	margin: 30px;
	font-family: 'Open Sans', sans-serif;
	padding: 7px 24px 7px 24px;
	letter-spacing: 3px;
	font-size: 20;
	color: white;
	border: 3px solid #b999c8;
	border-radius: 25px;
	transition: all 0.3s ease 0s;
}

#instaLink:hover, #youLink:hover, #spotlink:hover {
	transform: translateY(-2px);
	background-color: grey;
}



@supports (grid-area: auto){

.getmusic {
	margin:auto;
	justify-items: center;
	align-items: center;
	max-width: 100%;
	}

#spotifyPlayer{
	width: 90%; 
	height:333px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	}

#hookline{
	transition: all 0.3s ease 0s;
	width: 90%; 
	display: block;
	margin-right: auto;
	margin-left: auto;
	}

#twenty804 {
	transition: all 0.3s ease 0s;
	width: 90%; 
	display: block;
	margin-right: auto;
	margin-left: auto;;
	}



	@media screen and (min-width: 760px){

		.getmusic {
		margin:auto;
		justify-items: center;
		align-items: center;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		max-width: 100%;
		}

		#spotifyPlayer{
		grid-column: 1/3;
		grid-row: 1/2;
		width: 90%; 
		height:333px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		}

		#hookline{
		transition: all 0.3s ease 0s;
		grid-column: 1/2; 
		grid-row: 2/3;
		width: 333px; 
		height:333px;
		margin: 10px;
		}

		#twenty804 {
		transition: all 0.3s ease 0s;
		grid-column: 2/3; 
		grid-row: 2/3;
		width: 333px; 
		height:333px;
		margin: 10px;
		}

			@media screen and (min-width: 1100px){	
			.getmusic {
				margin:auto;
				justify-items: center;
				align-items: center;
				display: grid;
				grid-template-columns: auto auto auto;
				max-width: 100%;
			}

			#spotifyPlayer{
				grid-column: 1/2;
				width: 333px; 
				height:333px;
				margin: 10px;
			}

			#hookline{
				transition: all 0.3s ease 0s;
				grid-column: 2/3; 
				width: 333px; 
				height:333px;
				margin: 10px;
			}

			#twenty804 {
				transition: all 0.3s ease 0s;
				grid-column: 3/4; 
				width: 333px; 
				height:333px;
				margin: 10px;
			}

		}
	}

}

/*YOUTUBE*/

.full-container {
  			width: 100%;
  			max-width: 854px;
  			min-width: 440px;
  			margin: 0 auto;
  		}


.vid-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px; 
	height: 0; 
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*VIDEO PLAYLIST*/

.vid-list-container {
	width: 92%;
	overflow: hidden;
	margin-top: 20px;
	margin-left:4%;
	padding-bottom: 20px;
}

.vid-list {
	width: 1344px;
	position: relative;
	top:0;
	left: 0;
}
.vid-item {
	display: block;
	width: 148px;
	height: 148px;
	float: left;
	margin: 0;
	padding: 10px;
}

.thumb {
	overflow:hidden;
	height: 84px;
}

.thumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.vid-item .desc {
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-top:5px;
}

.arrows {
	position:relative;
	width: 100%;
}

.arrow-left {
	color: #fff;
	position: absolute;
	background: linear-gradient(to right, rgba(47,47,47,.1) , rgba(47,47,47,.8), rgba(47,47,47,.9), #3f3f3f, rgba(47,47,47,.9), rgba(47,47,47,.8), rgba(47,47,47,.1));
	padding: 15px;
	border: 3px solid #b999c8;
	border-radius: 25px;
	transition: all 0.3s ease 0s;
	left: -50px;
	top: -150px;
	z-index: 99;
	cursor: pointer;
}

.arrow-right {
	color: #fff;
	position: absolute;
	background: linear-gradient(to right, rgba(47,47,47,.1) , rgba(47,47,47,.8), rgba(47,47,47,.9), #3f3f3f, rgba(47,47,47,.9), rgba(47,47,47,.8), rgba(47,47,47,.1));
	padding: 15px;
	border: 3px solid #b999c8;
	border-radius: 25px;
	transition: all 0.3s ease 0s;
	right: -50px;
	top: -150px;
	z-index:100;
	cursor: pointer;
}

.arrow-left:hover {
	transform: translateX(-2px);
	background-color: grey;
}

.arrow-right:hover {
	transform: translateX(2px);
	background-color: grey;
}

.vid-item:hover {
	background-color: grey;
}

@media (max-width: 1000px) {
	.arrows {
		position:relative;
		margin: 0 auto;
		width:96px;
	}
	.arrow-left {
		left: -10px;
		top: -20px;
	}

	.arrow-right {
		right: -10px;
		top: -20px;
	}
}






